body[data-theme='dark'] {
    --main-font: 'Merriweather';

    --clr-primary: hsl(240, 100%, 10%);
    --clr-secondary: hsl(0, 100%, 20%);
    --clr-bg:#363636;
    --clr-bg2: #2c2c31;
    --clr-font1:white;
    --clr-font2:rgb(254, 254, 254);

    --clr-primary-tr: hsl(240, 100%, 80%);
    --clr-secondary-tr: hsl(0, 100%, 80%);

    --clr-primary-hvr: hsl(240, 100%, 15%);
    --clr-secondary-hvr: hsl(0, 100%, 30%);

    --px-low: 8px;
    --px-mid: 16px;
    --px-high: 32px;

    --clr-IT: red;
    --clr-Management: yellow;
    --clr-Marketing: blue;
    --clr-Sales: green;
}