body[data-theme='neon'] {
    --main-font: 'Megrim';

    --clr-primary:hsl(200, 93%, 60%);
    --clr-secondary: hsl(348, 100%, 51%);
    --clr-bg: #feffed;
    --clr-bg2: #edeee1;
    --clr-font1:rgb(0, 0, 0);
    --clr-font2:black;

    --clr-primary-tr: hsl(200, 93%, 60%, 0.2);
    --clr-secondary-tr: hsla(348, 100%, 51%, 0.2);

    --clr-primary-hvr: hsl(200, 93%, 70%);
    --clr-secondary-hvr: hsl(348, 100%, 61%);

    --px-low: 8px;
    --px-mid: 16px;
    --px-high: 32px;

    --clr-IT: red;
    --clr-Management: yellow;
    --clr-Marketing: blue;
    --clr-Sales: green;
}