@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");

@import "./css-importe/theme-importe/dark.css";
@import "./css-importe/theme-importe/neon.css";

@import "./css-importe/variable.css";
@import "./css-importe/main-style.css";
@import "./css-importe/board.css";
@import "./css-importe/backlog.css";
@import "./css-importe/settings.css";
@import "./css-importe/login.css";
@import "./css-importe/add-task.css";
@import "./css-importe/side-bar-task.css";
@import "./css-importe/media.css";
@import "./css-importe/help.css";
@import "./css-importe/contact.css";
@import "./css-importe/summary.css";

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}


.registration-box-input-more::-webkit-scrollbar {
  width: 12px;
}

.registration-box-input-more::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.registration-box-input-more::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}


.responsible-editor-list::-webkit-scrollbar {
  height: 8px;
}

.responsible-editor-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.responsible-editor-list::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}

.side-bar-task::-webkit-scrollbar {
  width: 8px;
}

.side-bar-task::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.side-bar-task::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}

.textarea-change-backlog-task::-webkit-scrollbar {
  width: 8px;
}

.textarea-change-backlog-task::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textarea-change-backlog-task::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  outline: 1px solid white;
}

.show-backlog-details-sub-container::-webkit-scrollbar {
  width: 8px;
}

.show-backlog-details-sub-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.show-backlog-details-sub-container::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}



.show-urgent-tasks-summary-container-table::-webkit-scrollbar {
  width: 8px;
}

.show-urgent-tasks-summary-container-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.show-urgent-tasks-summary-container-table::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}



.backlog-details-content::-webkit-scrollbar {
  width: 8px;
}

.backlog-details-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.backlog-details-content::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}


.add-task-editor-list::-webkit-scrollbar {
  width: 8px;
}

.add-task-editor-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.add-task-editor-list::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}



.contact-list::-webkit-scrollbar {
  width: 8px;
}

.contact-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contact-list::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}



.contact-main-container::-webkit-scrollbar {
  width: 8px;
}

.contact-main-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contact-main-container::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid white;
}