<div class="contact-list-container">
    <div class="contact-list-container-close-img d-none" id="close-open-icon-contact-list-container">
        <img onclick="closeAndOpenContactList()" id="close-open-icon-contact-list"
            src="img/logos/icon-arrow-left-line.svg" alt="">
    </div>
    <div class="contact-list" id="contact-list">

    </div>
</div>

<div class="contact-main-container">
    <div class="contact-detail-headline">
        <h2>CONTACTS</h2>
        <div>Better with a team</div>
    </div>

    <div id="contact-detail-info" class="d-none">
        <div class="contact-detail-name-img-box">
            <img id="contact-user-detail-img" src="" alt="">
            <div id="contact-user-detail-name"></div>
        </div>
        <div>
            <div class="contact-detail-sub-headline">Contact Information</div>
            <div class="contact-detail-sub-box">
                <span class="detail-contact-info-text">Email</span>
                <div class="color-secondary detail-contact-info-text" id="contact-user-detail-mail">
                </div>
            </div>
            <div class="contact-detail-sub-box">
                <span class="detail-contact-info-text">Phone</span>
                <div id="contact-user-detail-phone" class="detail-contact-info-text"></div>
            </div>
            <div class="contact-detail-sub-box">
                <span class="detail-contact-info-text">Department</span>
                <div id="contact-user-detail-category" class="detail-contact-info-text"></div>
            </div>
            <div class="contact-detail-sub-box">
                <span class="detail-contact-info-text">Residenz</span>
                <div id="contact-user-detail-city" class="detail-contact-info-text"></div>
            </div>
            <div class="contact-detail-sub-box">
                <span class="detail-contact-info-text">Hobby</span>
                <div id="contact-user-detail-hobby" class="detail-contact-info-text"></div>
            </div>
            <div id="contact-details-edit-btn" class="login-area-btn-box">

            </div>
        </div>
    </div>

</div>