
<div class="help-card margin-bottom-12">
    <h2>What is Kanban?</h2>
    <p>Kanban is a scheduling system for lean manufacturing. Our Join has three important areas.</p>
</div>

<div class="help-card margin-bottom-12">
    <h2>Add Task</h2>
    <p>Here you can create a new task. The inputfields "Title", "Description" and "Due date" are
        obligatory. Under "Category"
        you can chose between IT, Sales, Marketing and Management. Also the "Priority" and the
        current
        "Status" is adjustable.
        By clicking on the "+" under the "ASSINGED TO" you are able to add colleagues or other
        persons
        who are responsible for
        this task. You can search by username or by mail. It is possible to dismiss persons from the
        list per drag and drop over
        the bin icon. By clicking on the "Create Task" Button your task will be pushed in the
        Backlog
        area.</p>
</div>

<div class="help-card margin-bottom-12">
    <h2>Backlog</h2>
    <p>Here you have a list with all tasks which are created. There you can decide which task you
        want
        on your board. Click on the card
        to see the details of the card. In the detailed view you have on the bottom a button "Accept
        Task". After click on this button
        you will see your task on the board.</p>
</div>

<div class="help-card margin-bottom-12">
    <h2>Board</h2>
    <p>Here you can change the status of your task according the working step. Drag the box with the
        task which you are working on from
        "TO DO" to "IN PROGRESS" or on the step you are.</p>
</div>