<div class="show-user-details-box-header">
    <h2 id="show-user-details-box-name"></h2>
    <div class="close-user-details-box">
        <div class="btn-close-cross-box" onclick="closeUserDetailsView()">
            <img src="./img/close-icon.png">
        </div>
    </div>
</div>
<div class="user-detail-img-box">
    <img id="show-user-details-box-icon" class="user-detail-img" src="">
</div>
<table>
    <tr>
        <td>Mail:</td>
        <td class="padding-left" id="show-user-details-box-mail"></td>
    </tr>
    <tr>
        <td>Phone-Number:</td>
        <td class="padding-left" id="show-user-details-box-tel"></td>
    </tr>
    <tr>
        <td>Department:</td>
        <td class="padding-left" id="show-user-details-box-category"></td>
    </tr>
    <tr>
        <td>Residence:</td>
        <td class="padding-left" id="show-user-details-box-city"></td>
    </tr>
    <tr>
        <td>Hobby:</td>
        <td class="padding-left" id="show-user-details-box-hobby"></td>
    </tr>
</table>
<div id="user-detail-view-btn-box" class="detail-view-btn-box">
</div>