<div class="close-user-details-box">
    <div class="btn-close-cross-box" onclick="closeUrgentDetails()">
        <img src="./img/close-icon.png">
    </div>
</div>
<h2 class="headline-card mg-urgent-headline-12">URGENT TASKS</h2>
<div class="backlog-table show-urgent-tasks-summary-container-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ASSINGED TO</th>
                <th scope="col" class="backlog-responsive">CATEGORY</th>
                <th scope="col">TITLE</th>
            </tr>
        </thead>
        <tbody id="urgent-tasks-summary-content" class="overflow">
        </tbody>
    </table>
</div>