/*##################   AddTask.CSS   #########################*/
.margin-top {
    margin-top: 8px;
}

.margin-right {
    margin-right: 8px;
}

.margin-left {
    margin-left: 8px;
}

.width-80 {
    width: 80px;
}

.btns-add-task {
    display: flex;
    justify-content: space-between;
}

.editor-and-date-box {
    display: flex;
    align-items: center;
}

.input-selection-group {
    display: flex;
    justify-content: space-between;
}

.color-picker-selection-box {
    display: flex;
    align-items: center;
}

.color-picker-1 {
    height: 32px;
    width: 32px;
    z-index: 5;
    background-color: blue;
}

.color-picker-box {
    height: 25px;
    width: 25px;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 25px;
}

.color-picker-box:hover::before {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgb(6, 6, 72);
}

.color-picker-box:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px rgb(6, 6, 72);
}

.color-picker-container {
    position: absolute;
    left: 480px;
    top: 210px;
    display: flex;
    background-color: white;
    padding: 8px;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 1;
}

.list-search-result {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}


.list-search-result img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 6px 6px 6px 6px;
}

.list-search-result img:hover {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 1px 1px 1px 1px;
}

#add-task-editor-list {
    overflow: auto;
}

.select-employees-container {
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    width: 450px;
    border: 1px solid blue;
    border-radius: 16px;
}

.select-employees-container-list {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-search-employees {
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.search-bar{
    display: flex;
    flex-direction: column;
}

.add-task-editor-list {
    margin-left: 8px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.list-search-result-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    margin: 6px 6px 6px 6px;
}

.list-search-result-img:hover {
    cursor: pointer;
}

.btn-employees {
    width: 220px;
}

.responsible-editor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.responsible-editor-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.input-due-date {
    width: 300px;
}

.add-task-img-bin {
    height: 60px;
    object-fit: cover;
}

.add-task-img-bin:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.responsible-editor-container-box {
    position: relative;
}

.name-responsible-editor {
    display: none;
    z-index: 2;
}

.name-responsible-editor:hover {
    display: block;
}

.name-responsible-editor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    border-radius: 8px;
    border: 1px solid black;
    display: none;
    cursor: pointer;
}

.list-search-result-img:hover+.name-responsible-editor {
    display: block;
}

.crop {
    width: 50px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.show-user-details-box {
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    width: 300px;
    border: 1px solid blue;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.close-user-details {
    color: red;
    border-radius: 100%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1.5rem;
}

.close-user-details:hover{
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}

.close-user-details-box{
    width: 100%;
    display: flex;
    justify-content: right;
}

.padding-left {
    padding-left: 8px;
}

.list-search-result-name-under-icon{
    height: 30px;
    overflow: auto;
}

.show-switch-text:hover{
    color: blue;
    cursor: pointer;
}