/*##################   BOARD.CSS   #########################*/

.board {
    display: flex;
    justify-content: space-between;
}

.card {
    box-shadow: 2px 2px 6px 1px hsl(0deg 0% 0% / 20%);
    color: var(--clr-font1);
    background-color: transparent;
    width: calc((100vw - 180px) * 0.21 );
    margin: var(--px-mid);
}

.to-do-holder {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background-color: var(--clr-primary-tr);
    min-height: 60vh;
}

.to-do {
    padding: var(--px-low);
    margin: var(--px-low);
    border-radius: 0.2rem;
    background-color: var(--clr-secondary-tr);
}

.board h2 {
    margin: 0;
}

.drag-area-highlight {
    z-index: 100;
    background-color: var(--clr-primary-tr);
    transform: scale(1.05);
}