#contacts {
    display: flex;
    height: calc(100vh - 63px);
}

.contact-main-container {
    overflow: auto;
    width: calc(100vw - 250px - 180px);
}

.contact-list {
    background-color: white;
    overflow: auto;
    width: 250px;
    height: calc(100vh - 63px);
    padding-left: 8px;
    padding-right: 8px;
}

.contact-list-detail-box {
    display: flex;
    align-items: start;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
}

.contact-list-detail-box:hover {
    cursor: pointer;
    background-color: var(--clr-primary);
    color: white;
}

.contact-list-detail-mail {
    color: var(--clr-secondary);
    font-size: 12px;
}

.contact-list-detail-box img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}

.mg-right{
    margin-right: 24px;
}

.contact-list-char {
    padding-left: 8px;
    border-bottom: 1px solid lightgray;
    margin-right: 16px;
    margin-left: 12px;
}

#contact-detail-info {
    margin-left: 60px;
}

.contact-detail-name-img-box {
    display: flex;
    align-items: center;
}

.contact-detail-name-img-box img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 24px;
}

.contact-detail-name-img-box div {
    font-size: 36px;
    font-weight: 600;
}

.contact-detail-sub-box {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.contact-detail-sub-box span {
    font-weight: 600;
}

.contact-detail-sub-headline {
    margin-top: 16px;
    font-size: 28px;
}

.contact-detail-headline {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 60px;
}

.contact-detail-headline div {
    height: 60%;
    margin-left: 24px;
    padding-left: 24px;
    border-left: 2px solid var(--clr-primary);
    display: flex;
    align-items: center;
    font-size: 24px;
}

.contact-detail-headline h2 {
    color: var(--clr-secondary);
    margin: 0;
    font-size: 40px;
    text-shadow: 0.1em 0.1em 0.2em rgb(100 100 100 / 50%);
    font-weight: 500;
}

.change-user-details-contacts {
    width: 300px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.detail-contact-info-text {
    font-size: 20px;
}

.contact-detail-sub-container {
    display: block;
}

.contact-list-container {
    display: block;
}

.contact-list-container-close-img {
    display: none;
}

@media screen and (max-width: 1030px) {
    .contact-main-container {
        width: calc(100vw - 250px);
    }
}

@media screen and (max-width: 750px) {
    .contact-detail-headline div {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #contact-detail-info {
        margin-left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .detail-contact-info-text {
        font-size: 16px;
    }

    .contact-detail-name-img-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .contact-detail-name-img-box img {
        height: 60px;
        width: 60px;
        margin-right: 0;
        margin-left: 20px;
    }

    .contact-detail-name-img-box div {
        font-size: 28px;
    }

    .contact-detail-sub-headline {
        margin-top: 8px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .detail-contact-info-text {
        font-size: 16px;
    }

    .contact-detail-name-img-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .contact-detail-name-img-box img {
        height: 60px;
        width: 60px;
        margin-right: 0;
        margin-left: 20px;
    }

    .contact-detail-name-img-box div {
        font-size: 28px;
    }

    .contact-detail-sub-headline {
        margin-top: 8px;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .contact-detail-name-img-box {
        align-items: center;
    }

    .contact-detail-name-img-box img {
        margin-left: 0;
    }

    .contact-main-container {
        width: 100vw;
    }

    #contact-detail-info {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-detail-sub-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-detail-sub-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact-details-edit-btn {
        justify-content: center;
    }

    .contact-list-container {
        position: absolute;
        background-color: white;
    }

    .contact-list-container-close-img {
        display: block !important;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        left: 260px;
        top: 12px;
    }

    .contact-list-container-close-img img {
        width: 100%;
        object-fit: cover;
    }

    .contact-detail-sub-headline {
        text-align: center;
    }
}