/*##################   LOGIN CSS   #########################*/
.margin-bottom {
    margin-bottom: 8px;
}

.log-in-box {
    z-index: 99;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.login {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.login input {
    margin-right: 8px;
}


.icons-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 120px;
    overflow: auto;
}

.icons-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.icons-box img:hover {
    cursor: pointer;
    width: 110px;
    height: 110px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 3px solid rgba(0, 0, 0, 1);
}

.background-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 60;
}

.login-join-logo-box {
    position: absolute;
    top: 15%;
    left: 15%;
}

.login-join-logo-box img {
    width: 150px;
    object-fit: cover;
}

.login-join-sign-up-box {
    position: absolute;
    top: 15%;
    right: 15%;

    display: flex;
    align-items: center;
}

.login-join-sign-up-box span {
    color: var(--clr-primary);
    margin-right: 12px;
    font-size: 24px;
    font-weight: 500;
}

.login-join-sign-up-box button {
    background-color: var(--clr-primary);
    color: white;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;

    font-size: 18px;
    line-height: 36px;
}

.registration-icon-btn {
    background-color: white;
    color: var(--clr-primary);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid var(--clr-secondary);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.registration-icon-btn:hover {
    cursor: pointer;
    opacity: 0.75;
}

.login-join-sign-up-box button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.registration-box-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: var(--px-high);
    border-radius: 0.4rem;
    border: 2px solid var(--clr-primary);
    background-color: white;
    min-width: 300px;
    max-width: 450px;

    width: 370px;
}

.registration-box-input h2 {
    text-align: center;
    color: var(--clr-primary);
    font-weight: 600;
}

.registration-box-input input {
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid black;
}

.bg-mail {
    background: white url('/img/logos/login-mail.svg') 270px 50% no-repeat;
}

.bg-pw {
    background: white url('/img/logos/login-pw.svg') 270px 50% no-repeat;
}

.bg-name {
    background: white url('/img/logos/icon-user-login.svg') 268px 50% no-repeat;
}

.registration-box-input-more {
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow: auto;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 25px;
}

.registration-request-no-icon-selected {
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    width: 450px;
    border: 1px solid blue;
    border-radius: 16px;
}

.registration-request-no-icon-selected div {
    display: flex;
    justify-content: space-evenly;
}

.registration-request-no-icon-selected h2 {
    text-align: center;
}

.login-input-fields {
    display: flex;
    flex-direction: column;
}

#new-user-registration-input-more {
    width: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.login-area-btn-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 300px;
}

.login-area-btn {
    width: 110px;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.login-btn-shadow {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.login-btn-shadow:hover {
    cursor: pointer;
    opacity: 0.75;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}

.login-area-btn-login {
    border: none;
    color: white;
    background-color: var(--clr-primary);
}

.login-area-btn-guest {
    color: var(--clr-primary);
    background-color: white;
    border: 2px solid var(--clr-primary);
}

.registration-buttons {
    display: flex;
    justify-content: space-between;
}

.show-more-less-registration {
    color: var(--clr-primary);
    font-weight: 600;
}

.show-more-less-registration:hover {
    cursor: pointer;
    opacity: 0.5;
}

.login-remember-me-box {
    display: flex;
    align-items: center;
}

.login-remember-me-box input {
    margin-bottom: 0 !important;
}

.login-remember-me-box div {
    margin-left: 12px;
}

.login-remember-and-forgot-password-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}

.login-remember-and-forgot-password-container span {
    color: var(--clr-secondary);
}

.login-remember-and-forgot-password-container span:hover {
    cursor: pointer;
    color: var(--clr-primary);
    font-weight: 600;
}

.forgot-pw-send-mail-btn {
    width: 150px !important;
}

.forgot-pw-text{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.forgot-pw-anser-box-btn-container {
    justify-content: center !important;
}