.d-none {
    display: none;
}

body {
    font-family: var(--main-font);
    background-color: var(--clr-bg);
    display: flex;
    width: 100%;
    min-height: 100vh;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
    padding-left: var(--px-mid);
    margin-bottom: var(--px-mid);
    border-left: 5px solid transparent;
    padding: var(--px-low);
}

.active-h3 {
    border-left: 5px solid white;
}

.side-bar h3:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hvr);
    border-radius: 0.2rem;
}

.side-bar {
    z-index: 99;
    position: relative;
    width: 180px;
    background-color: var(--clr-primary);
    color: white;

}

.side-bar-holder {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    padding: var(--px-high) var(--px-mid);
}

.side-bar-holder::-webkit-scrollbar {
    width: 0;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--px-high);
}

.user {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: solid 4px white;
    border-radius: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
}

.info-header {
    display: flex;
    flex-direction: column;
    color: var(--clr-font1);
    padding: var(--px-mid);
}

.info-header span {
    color: var(--clr-primary);
}

.info-header h2 {
    margin: 0;
    font-weight: bold;
}

.content {
    padding: 0 var(--px-mid);
    color: var(--clr-font1);
}

.test {
    display: none;
    justify-content: center;
    align-items: center;
}

.burger {
    flex-direction: column;
    border-radius: 100%;
}

.burger:hover {
    cursor: pointer;
    background-color: var(--clr-primary-tr);
}

.toggle .line1 {
    transform: rotate(45deg) translate(10px, 10px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(8px, -8px);
}

.burger div {
    height: 3px;
    width: var(--px-high);
    background-color: white;
    margin: 10px;
    transition: all ease 0.225s;
}

.impressum {
    background-color: var(--clr-bg);
    color: var(--clr-font1);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--clr-primary);
    --bs-btn-border-color: var(--clr-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--clr-primary);
    --bs-btn-hover-border-color: var(--clr-primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--clr-primary);
    --bs-btn-active-border-color: var(--clr-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--clr-primary);
    --bs-btn-disabled-border-color: var(--clr-primary);
}

.btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--clr-primary);
    --bs-btn-border-color: var(--clr-primary);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--clr-primary);
    --bs-btn-hover-border-color: var(--clr-primary);
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--clr-primary);
    --bs-btn-active-border-color: var(--clr-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--clr-primary);
    --bs-btn-disabled-border-color: var(--clr-primary);
    color: var(--clr-font2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px) grayscale(0.9) ;
}

.d-block {
    display: block;
}

.user-side-bar-img:hover {
    cursor: pointer;
    border: solid 4px var(--clr-primary-hvr);
}

.h100-overflow-auto{
    min-height: 100px;
    overflow: auto;
}
