.d-none {
    display: none;
}

body {
    font-family: var(--main-font);
    background-color: var(--clr-bg);
    display: flex;
    width: 100%;
    min-height: 100vh;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
    padding-left: var(--px-mid);
    margin-bottom: var(--px-mid);
    padding: var(--px-low);
}

#impressum{
    margin-left: 12px
}
.side-bar {
    z-index: 40;
    position: relative;
    width: 180px;
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.legal-notice-container{
    position: absolute;
    bottom: 24px;
}

.legal-notice-container img{
    margin-right: 8px;
}

.side-bar-holder {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.side-bar-holder::-webkit-scrollbar {
    width: 0;
}

.nav-holder {
    margin-top: 36px;
    width: 100%;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--px-high);
}

.user {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: solid 4px white;
    border-radius: 100%;
}

.main {
    width: calc(100vw - 180px);
    height: 100vh;
    position: relative;
}

.header {
    display: flex;
}

.info-header {
    display: flex;
    flex-direction: column;
    color: var(--clr-font1);
    padding: var(--px-mid);
}

.info-header span {
    color: var(--clr-primary);
}

.info-header h2 {
    margin: 0;
    font-weight: bold;
}

.content {
    color: var(--clr-font1);
    position: absolute;
    top: 63px;
    overflow: auto;
    height: calc(100vh - 63px);
    width: 100%;
}

.test {
    display: none;
    justify-content: center;
    align-items: center;
}

.burger {
    flex-direction: column;
    border-radius: 100%;
}

.burger:hover {
    cursor: pointer;
    background-color: var(--clr-primary-tr);
}

.toggle .line1 {
    transform: rotate(45deg) translate(10px, 10px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(8px, -8px);
}

.burger div {
    height: 3px;
    width: var(--px-high);
    background-color: black;
    margin: 10px;
    transition: all ease 0.225s;
}

.impressum {
    background-color: var(--clr-bg);
    color: var(--clr-font1);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--clr-primary);
    --bs-btn-border-color: var(--clr-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--clr-primary);
    --bs-btn-hover-border-color: var(--clr-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--clr-primary);
    --bs-btn-active-border-color: var(--clr-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--clr-primary);
    --bs-btn-disabled-border-color: var(--clr-primary);
}

.btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--clr-primary);
    --bs-btn-border-color: var(--clr-primary);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--clr-primary);
    --bs-btn-hover-border-color: var(--clr-primary);
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--clr-primary);
    --bs-btn-active-border-color: var(--clr-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--clr-primary);
    --bs-btn-disabled-border-color: var(--clr-primary);
    color: var(--clr-font2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px) grayscale(0.9);
}

.d-block {
    display: block;
}

.user-side-bar-img:hover {
    cursor: pointer;
    border: solid 4px var(--clr-primary-hvr);
}

.h100-overflow-auto {
    max-height: 100px;
    overflow: auto;
    margin-bottom: 24px;
}

.loading-circle-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-circle {
    position: relative;
    z-index: 10000000;
}

.loading-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(360deg / 14 * var(--i)));
    height: 200px;
    width: 40px;
    animation: colorChange 1s infinite ease-in-out;
}

@keyframes colorChange {
    100% {
        filter: hue-rotate(360deg);
    }
}

.loading-circle span::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--clr-secondary);
    animation: rotate 1s infinite linear;
    animation-delay: calc(0.07s * var(--i));
}

@keyframes rotate {
    100% {
        opacity: 0;
    }
}

.loading-circle-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    object-fit: cover;
}

.header-desktop-box {
    background-color: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 3px rgba(41, 71, 226, 0.25);

    position: absolute;
    top: 0;
}

.header-desktop-title {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 36px;
    top: 50%;
    transform: translate(0, -50%);
}

.header-desktop-title-small {
    display: none;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 36px;
    top: 50%;
    transform: translate(0, -50%);
}

.header-desktop-icons {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 36px;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    align-items: center;
}

.header-desktop-help-icon:hover {
    cursor: pointer;
}

#user img {
    max-height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--clr-primary);
    margin-left: 24px;
    margin-right: 24px;
}

#user img:hover {
    border: 3px solid var(--clr-secondary);
}

#logout-btn {
    height: 25px;
    object-fit: cover;
}

#logout-btn:hover {
    cursor: pointer;
}

.sidebar-point-container{
    margin-top: 64px;
}

.sidebar-box-point {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.75;
}

.sidebar-box-point h3 {
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 20px;
}

.sidebar-box-point:hover {
    cursor: pointer;
    background-color: #091931;
    opacity: 1;
}

.sidebar-box-point img {
    width: 30px;
    object-fit: cover;
    margin-left: 18px;
}

.headline-card{
    color: var(--clr-secondary);
    margin-top: 24px;
    margin-left: 24px;
    font-size: 40px;
    text-shadow: 0.1em 0.1em 0.2em rgb(100 100 100 / 50%);
    font-weight: 500;
}

.change-user-details{
    margin-top: 4px;
    width: 150px;
    margin-bottom: 4px;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.detail-view-btn-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.color-secondary{
    color: var(--clr-secondary);
}

.w100{
    width: 100% !important;
}

@media screen and (max-height: 640px) {
    .logo {
        height: 80px;
    }

    .logo img{
        height: 100%;
        object-fit: cover;
    }

    .sidebar-point-container{
        margin-top: 24px;
    }
}

@media screen and (max-height: 550px) {
    .logo {
        height: 60px;
        margin-bottom: 0;
    }

    .sidebar-point-container{
        margin-top: 12px;
    }
}

@media screen and (max-height: 550px) {
    .logo {
        display: none;
    }

    .sidebar-point-container{
        margin-top: 0;
    }
}

@media screen and (max-height: 450px) {
    .nav-holder {
        margin-top: 12px;
    }
    .sidebar-box-point{
        padding-top: 4px;
    padding-bottom: 4px;
    }
}

@media screen and (max-height: 380px) {
    .nav-holder {
        margin-top: 4px;
    }
    .sidebar-box-point img{
        width: 20px;
    }

    .sidebar-box-point h3{
        font-size: 16px;
    }

    .sidebar-box-point{
        padding-top: 2px;
    padding-bottom: 2px;
    }

    .legal-notice-container{
        bottom: 4px;
    }
}