@media screen and (max-width: 1030px) {
    * {
        font-size: 0.9rem;
    }

    .main {
        width: 100vw;
    }

    .side-bar {
        height: calc(100vh - 63px);
    }

    .header {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .info-header {
        margin: 0;
    }

    .login-join-logo-box {
        top: 5%;
        left: 5%;
    }

    .login-join-sign-up-box {
        top: 5%;
        right: 5%;
    }

    .test {
        display: flex;
    }

    .side-bar {
        transform: translate(-100%);
        position: absolute;
    }

    .to-do-holder {
        min-height: 80px;
    }

    .theme-select button {
        padding: 0.1rem;
        font-size: 1.1rem;
    }

    .header-desktop-title {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-desktop-icons {
        right: 24px;
    }
}

@media screen and (max-width: 950px) {
    .card-header-add-icon {
        right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .login-join-logo-box img {
        width: 100px;
    }
}

@media screen and (max-width: 700px) {
    .header-desktop-title {
        display: none;
    }

    .header-desktop-title-small {
        display: block;
        left: 37%;
        transform: translate(-50%, -50%);
    }

    .add-task form {
        flex-direction: column;
    }

    .login-join-logo-box img {
        width: 80px;
    }

    .left, .right {
        width: 100%;
    }

    .login-join-logo-box {
        top: 5%;
        left: 5%;
    }

    .login-join-sign-up-box {
        top: 85%;
        right: 5%;
    }

    .backlog-responsive {
        display: none;
    }

    .backlog-user-info {
        transform: translate(400%, -180%);
    }

    #show-board-details-container, #show-backlog-details-container {
        width: 90%;
        max-height: 90vh;
        display: flex;
        flex-direction: column;
        /*justify-content: space-around;*/
    }

    .board {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card {
        width: auto;
        flex: none;
    }

    .select-employees-container {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    .header-desktop-title-small {
        display: none;
    }

    .headline-card{
        font-size: 32px;
        margin-left: 12px;
    }

    .search-bar {
        flex-direction: column;
        justify-content: flex-start;
    }

    .login-join-logo-box {
        top: 5px;
        left: 3%;
    }

    .login-join-sign-up-box {
        top: none;
        bottom: 5px;
        right: 3%;
    }

    .forgot-pw-send-mail-btn {
        width: 100% !important;
    }

    .reverse-btn-box {
        flex-direction: column-reverse !important;
    }

    .assigned-to-user-holder img {
        width: 72px;
        height: 72px;
    }

    .registration-box-input {
        min-width: 250px;
        width: calc(100% - 16px);
    }

    .login-area-btn-box {
        width: 100%;
        flex-direction: column;
    }

    .bg-mail {
        background: white url(/img/logos/login-mail.svg) calc(100% - 12px) 50% no-repeat;
    }

    .bg-pw {
        background: white url(/img/logos/login-pw.svg) calc(100% - 12px) 50% no-repeat;
    }

    .bg-name {
        background: white url('/img/logos/icon-user-login.svg') calc(100% - 12px) 50% no-repeat;
    }

    .login-area-btn {
        width: 100%;
        margin-bottom: 16px;
        height: 40px;
        font-size: 18px;
    }

    .login-remember-and-forgot-password-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }

    .login-remember-and-forgot-password-container span {
        margin-top: 12px;
    }
}


.active-mobile-side {
    transform: translateY(63px);
}



@media screen and (max-height: 500px) {
    * {
        font-size: 0.9rem;
    }
}