/*##################   Settings.CSS   #########################*/

.theme-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--px-mid);
    border-radius: 0.4rem;
    background-color: var(--clr-bg2);
    transition: none;
    margin-top: var(--px-mid);
}

.theme-holder h2 {
    transition: none;
}

.theme-select {
    display: flex;
    align-items: center;
}

.theme-select button {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    margin: 0 1rem 0 0;
    background-color: var(--clr-primary);
    color: white;
    min-width: 5rem;
}

.theme-select button:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hvr);
}