.side-bar-task {
    position: fixed;
    top: 63px;
    right: 0;
    bottom: 0;
    height: calc(100vh - 63px);
    overflow: auto;
    z-index: 1;
    background-color: white;
    width: 600px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 24px;
    border-left: 1px solid var(--clr-primary);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.side-bar-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar-task-header button {
    background-color: var(--clr-primary);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    width: 140px;
}

.side-bar-task-header button:hover {
    cursor: pointer;
    opacity: 0.75;
    color: black;
}

.input-title {
    width: 100%;
    font-size: 24px;
    height: 48px;
    margin-bottom: 24px;
    border-radius: 0.375rem;
    border: 1px solid lightgray;
}

.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    width: 200px;
}

.side-bar-task-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
}

.side-bar-task-header-title span {
    opacity: 0.75;
}

.bin-hint-sidebar-task {
    z-index: 12;
    background-color: gray;
    color: white;
    position: absolute;
    width: 124px;
    right: 20px;
    padding: 12px;
    bottom: 66px;
    border-radius: 8px;
    hyphens: auto;
    text-align: left;
}

.side-bar-task-btn-top-small{
    display: none;
}

@media screen and (max-width: 700px) {
    .side-bar-task {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .side-bar-task {
        width: 470px;
    }
}

@media screen and (max-width: 500px) {
    .side-bar-task {
        width: 450px;
    }

    .side-bar-task-btn-top-big {
        display: none;
    }

    .side-bar-task-btn-top-small {
        display: block;
        width: 80px !important;
    }

    .side-bar-task-btn-top-small img {
        height: 20px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 460px) {
    .side-bar-task {
        width: 400px;
    }
}

@media screen and (max-width: 410px) {
    .side-bar-task {
        width: 350px;
    }

    .side-bar-task-btn-top-small {
        display: block;
        width: 60px !important;
    }
}

@media screen and (max-width: 350px) {
    .side-bar-task {
        width: 100vw;
    }
}