@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Merriweather:ital,wght@0,400;0,700;1,300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    --color-picker1: hsl(229, 100%, 26%);
    --color-picker2: hsl(125, 100%, 26%);
    --color-picker3: hsl(0, 100%, 26%);
    --color-picker4: hsl(65, 85%, 35%);
    --color-picker5: hsl(38, 93%, 30%);
    --color-picker6: hsl(301, 100%, 26%);

    transition: 225ms;
}

body[data-theme='default'] {
    --main-font: 'PT Sans';

    --clr-primary: hsl(240, 50%, 40%);
    --clr-secondary: hsl(0, 100%, 30%);
    --clr-bg: rgb(244, 244, 244);
    --clr-bg2: #e9e6fe;
    --clr-font1: rgb(0, 0, 0);
    --clr-font2: rgb(255, 254, 254);

    --clr-primary-tr: hsl(240, 50%, 90%);
    --clr-secondary-tr: hsla(0, 100%, 80%);

    --clr-primary-hvr: hsl(240, 50%, 50%);
    --clr-secondary-hvr: hsl(0, 100%, 40%);

    --px-low: 8px;
    --px-mid: 16px;
    --px-high: 32px;

    --clr-IT: red;
    --clr-Management: yellow;
    --clr-Marketing: blue;
    --clr-Sales: green;
}

/*##################   AddTask.CSS   #########################*/

.add-task form {
    background-color: var(--clr-bg2);
    width: 100%;
    border-radius: 0.4rem;
    display: flex;
    padding: var(--px-mid);
}

.add-task form h3 {
    margin-bottom: var(--px-low);
    font-weight: bold;
    border: none;
    padding: 0;
    color: var(--clr-primary);

}

.left {
    width: 50%;
    padding: var(--px-mid);
}

.right {
    width: 50%;
    padding: var(--px-mid);
}

.input-holder {
    margin-bottom: var(--px-mid);
}

.input-holder2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.assinged-to {
    display: flex;
    height: 150px;
}

.btn-employees {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.5rem;
    height: 2.5rem;
    background-color: #d8d8d8;
    border-radius: 50%;;
}

.btn-line1 {
    position: absolute;
    width: 60%;
    height: 0.1rem;
    background-color: var(--clr-primary);
}

.btn-line2 {
    position: absolute;
    width: 60%;
    height: 0.1rem;
    background-color: var(--clr-primary);
    transform: rotate(90deg);
}

.btns-add-task {
    display: flex;
    justify-content: end;
}

.btn-cancel {
    border: none;
    background-color: transparent;
    color: var(--clr-primary);
    font-weight: bold;
    margin-right: var(--px-mid);
    width: 100px;
}

.employees-holder {
    display: flex;
    align-items: center;
}